body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  background: white;
  background-image: linear-gradient(to bottom, #A50044, #003366);
}

h1, h2 {
  font-family: 'Bebas Neue', sans-serif;
  letter-spacing: 2px;
  font-weight: normal;
}

p, li, dd, dt {
  color: #f0f0f0;
}
.img-flex {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.img-flex img {
  width: 200px;
}

header {
  background: #003366;
  color: white;
  padding: 20px;
  text-align: center;
}

.container h2 {
  color: white;
}

.container {
  width: 90%;
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

iframe {
  width: 100%;
  aspect-ratio: 16/9;
  border: none;
}

audio {
  width: 100%;
  margin-top: 10px;
}

footer {
  background: #003366;
  color: white;
  padding: 20px;
  text-align: center;
  margin-top: 40px;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.map {
  width: 100%;
  aspect-ratio: 16/9;
  border: none;}

a:link {
  color: #FFED02; /* Amarillo Barça */
  text-decoration: none;
}

a:hover {
  color: orange; /* Granate Barça */
  text-decoration: underline;
}

/* LINK VISITADO */
a:visited {
  color: #cccccc; /* Gris claro */
}

/* DURANTE EL CLIC */
a:active {
  color: violet; /* Azul Barça */
}