* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Georgia, serif;
    background-color: #fff;
    color: #000;
    line-height: 1.5;
    margin: 100px;
    padding: 10px;
}

.container {
    display: grid;
    grid-template-areas:
        "nav nav nav"
        "header header header"
        "aside1 article aside2"
        "footer footer footer";
    grid-template-columns: 1fr 2fr 1fr;
    gap: 5px;

    margin: 10px;
}


nav {
    grid-area: nav;
    border: 1px solid lightgreen;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: blue;
}


header {
    grid-area: header;
    border: 1px solid brown;
    text-align: center;
    padding: 20px;
}

header h1 {
    font-size: 3em;
    color: #7a6a4f;
}

.aside1 { grid-area: aside1; }
.aside2 { grid-area: aside2; }


article {
    grid-area: article;
}

blockquote {
    border: 1px solid black;
    padding: 10px;
    margin: 10px 0;
}


footer {
    grid-area: footer;
    border: 1px solid blue;
    padding: 10px;
    text-align: center;
}

footer .links {
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
}

footer a {
    color: blue;
    text-decoration: none;
}